APP_PORT=3000
NODE_ENV=development
FE_URL=http://localhost:3000

DATABASE_TYPE=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_NAME=

CPU_THRESHOLD=80
RAM_THRESHOLD=80
NIC_THRESHOLD=0.9

TIME_INTERVAL_CLEAR_DATA_EVENT=3
