.dark-mode {
  // --theme-default: #1a1b1e;
  --theme-default: #464c5a;
  --theme-red: #c25252;
  --theme-green: #4cb86a;
  --theme-yellow: #e2be00;
  --theme-blue: #56acdd;
  --theme-cyan-dark: #2e3646;
  --theme-brown: #3f2f3d;
  --theme-black: #1a1b1e;
}

.light-mode {
  --theme-default: #ffffff;
  --theme-red: #ffaeae;
  --theme-green: #a6e3b0;
  --theme-yellow: #ecde97;
  --theme-blue: #a6d8f4;
  --theme-cyan-dark: #ffffff;
  --theme-brown: #ffe9e9;
  --theme-black: #ffffff;
}
