.pagination {
  justify-content: flex-end;
  width: min(100%, $app-max-width);
  margin-inline: auto;

  &__info {
    font-size: 0.9rem;
  }

  &__size {
    width: 6rem;

    .mantine-Select-input {
      font-size: 1rem;
    }
  }
}
